@model Application.Web.Areas.Admin.Models.CategoryViewModel
@using Application.Web.Common

@{
    Layout = null;
}

<form asp-action="AddEditCategory" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = String.Format("{0} Category", @Model.Id == 0 ? "Add" : "Edit") })
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Slug"></label>
            <input asp-for="Slug" class="form-control" />
            <span asp-validation-for="Slug" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ParentId"></label>
            <select asp-for="ParentId" asp-items="@Model.CategorySelectList" class="form-control">
                <option value="">----Select----</option>
            </select>

        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" maxlength="256" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>        
        <div class="form-group">
            <label asp-for="IsActive"></label>
            <select asp-for="IsActive" asp-items="@Model.IsActiveSelectList" class="form-control"></select>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
