@model Application.Web.Areas.Admin.Models.AttributeViewModel
@using Application.Web.Common


<form asp-action="AddEditAttribute" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = String.Format("{0} Attribute", @Model.Id == 0 ? "Add" : "Edit") })
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="Name" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="Label" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <select asp-for="Type" asp-items="@Model.AttributeDisplayTypes" class="form-control">
                    <option value="">----Select----</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderBy" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <select asp-for="OrderBy" asp-items="@Model.ProductAttributeOrderTypes" class="form-control">
                    <option value="">----Select----</option>
                </select>
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="IsActive" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="checkbox col-lg-6">
                <label>
                    <input asp-for="IsActive" />@Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

