@model Application.Web.Areas.Admin.Models.MenuViewModel
@using Application.Web.Common

@{
    Layout = null;
}

<form asp-action="AddEditMenu" role="form">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = String.Format("{0} Menu", @Model.Id == 0 ? "Add" : "Edit") })
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="Name" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentId" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <select asp-for="ParentId" asp-items="@Model.MenuSelectList" class="form-control">
                    <option value="">----Select----</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ControllerName" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="ControllerName" class="form-control" />
                <span asp-validation-for="ControllerName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ActionName" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="ActionName" class="form-control" />
                <span asp-validation-for="ActionName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CssClass" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="CssClass" class="form-control" />
                <span asp-validation-for="CssClass" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsActive" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="checkbox col-lg-6">
                <label>
                    <input asp-for="IsActive" />
                </label>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>        
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>