@model Application.Web.Areas.Admin.Models.MenuViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_ControlPanel.cshtml";
}

<div class="top-buffer"></div>
<div class="row">    
    <div class="panel panel-primary">
        <div class="panel-heading">Create</div>        
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <select asp-for="ParentId" asp-items="@Model.MenuSelectList" class="form-control">
                    @*<option value="0">----Select----</option>*@
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ActionName" class="control-label"></label>
                <input asp-for="ActionName" class="form-control" />
                <span asp-validation-for="ActionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControllerName" class="control-label"></label>
                <input asp-for="ControllerName" class="form-control" />
                <span asp-validation-for="ControllerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CssClass" class="control-label"></label>
                <input asp-for="CssClass" class="form-control" />
                <span asp-validation-for="CssClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary" role="button" aria-pressed="true">Back To Index</a>
            </div>
        </form>
    </div>
</div>



